<header class="modal-header">
    <h1>Вы уверены, что хотите разблокировать этого пользователя?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Отмена</span></a>

<div class="modal-body">
    <strong>ПРЕДУПРЕЖДЕНИЕ:</strong> Этот пользователь снова сможет зайти в систему и будет иметь те же разрешения, которые он имел ранее.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Отмена</span></button>
    {{gh-task-button "Un-suspend" successText="Suspended" task=unsuspendUser class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm=true}}
</div>
