<header class="modal-header">
    <h1>Вы уверены, что хотите заблокировать этого пользователя?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Отмена</span></a>

<div class="modal-body">
    <strong>ПРЕДУПРЕЖДЕНИЕ:</strong> Этот пользователь больше не сможет войти, но его сообщения будут сохранены.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Отмена</span></button>
    {{gh-task-button "Suspend" successText="Suspended" task=suspendUser class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm=true}}
</div>
