<header class="modal-header">
    <h1>Вы уверены, что хотите покинуть эту страницу?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Отмена</span></a>

<div class="modal-body">
    <p>
        Эй! Похоже, что вы в процесе написания чего-то. Вы не сохранили свой созданный контент!
    </p>

    <p>Сохранитесь, прежде чем уйти!</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Остаться</span></button>
    <button {{action "confirm"}} class="gh-btn gh-btn-red"><span>Уйти</span></button>
</div>
