<header class="modal-header">
    <h1>Вы действительно хотите удалить весь контент из вашего блога?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Закрыть</span></a>

<div class="modal-body">
    <p>Это навсегда! Нет копий нет восстановлений, нет волшебной кнопки отмены. Мы предупредили вас!</p>
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Отмена</span></button>
    {{gh-task-button "Delete" successText="Deleted" task=deleteAll class="gh-btn gh-btn-red gh-btn-icon"}}
</div>
