<div class="no-posts-box">
    <div class="no-posts">
        <h3>Вы еще не добавили ни одного тега!</h3>
        {{#link-to "settings.tags.new"}}<button type="button" class="gh-btn gh-btn-green btn-lg" title="Новый тег"><span>Добавить тег</span></button>{{/link-to}}
    </div>
</div>
